
#map #pc{
    left: 31%;
    top: 12%;
}

#gp{
    left: 37%;
    top: 22%;
}

#pj{
    left: 17%;
    top: 19%;
}

#gmpo{
    left: 11%;
    top: 30%;
}

#goyg{
    left: 18%;
    top: 32%;
}

#ygpg{
    left: 45%;
    top: 45%;
}

#gc{
    left: 24%;
    top: 48%;
}

#sgnm{
    left: 28%;
    top: 49%;
}

#ggju{
    left: 33%;
    top: 49%;
}

#ygin{
    left: 33%;
    top: 68%;
}

#yuwn{
    left: 24%;
    top: 58%;
}

#yuju{
    left: 44%;
    top: 55%;
}